absl-py==1.4.0
astor==0.8.1
autocfg==0.0.8
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
cmake==3.26.0
cycler==0.11.0
dataclasses==0.8
dlib @ file:///home/conda/feedstock_root/build_artifacts/dlib_1602513662743/work
gast==0.5.3
gluoncv==0.10.5.post0
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.48.2
h5py==2.10.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
imutils==0.5.4
jmespath==0.10.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.7
matplotlib==3.3.4
mxnet==1.9.1
numpy==1.19.5
opencv-python==4.1.0.25
pandas==1.1.5
pdf2image==1.16.3
Pillow==8.4.0
portalocker==2.7.0
protobuf==3.19.6
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.27.1
s3transfer==0.5.2
scipy==1.5.4
six==1.16.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
wrapt==1.15.0
yacs==0.1.8
zipp==3.6.0
